/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2018, 10:05:56 PM
    Author     : silve
*/

.premium-only-badge { color: gold; }
.premium-only-field,
.premium-only-field > th,
.premium-only-field .description
{
    opacity: 0.5 !important; 
}
.premium-only-link {
    color: red;
}
label[for*=premium-only-field] {
    opacity: 0.5 !important;
}